* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: papayawhip;
    margin-bottom: 30px;
}

h1 {
    color: palegoldenrod;
}

body {
    background-color: palevioletred;
}

h2{
    display: inline;
    border: 2px solid papayawhip;
    border-radius: 10px;
    padding: 20px;
}

h3 {
    border: 5px solid red;
}